.container {
  padding: 0 2rem;
}
.small {
  display: grid;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.large {
  display: grid;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
