.title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1rem 1rem;
}
.container {
  padding: 0 2rem;
  margin: 6rem 0 2rem 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem 1rem;
  place-items: center;
}
@media (max-width: 540px) {
  .title {
    font-size: 1.2rem;
  }
}
